<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148363187464-9mftdmvtragh11fo3rsp1ud9stdjnh86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148363187464-9mftdmvtragh11fo3rsp1ud9stdjnh86</string>
	<key>API_KEY</key>
	<string>AIzaSyD5rzrZOMHKS2RZBNBPl5dyy_yra6E7Vt4</string>
	<key>GCM_SENDER_ID</key>
	<string>148363187464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.najotTalimNt</string>
	<key>PROJECT_ID</key>
	<string>sample-project-dfe6a</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-project-dfe6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148363187464:ios:3389e7825134e7116148bd</string>
</dict>
</plist>